<h2>Apx Stat Tracker Login</h2>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <button type="submit" value="submit">Login</button>
        </form>