<h2>Apex Stat Tracker Registration</h2>
    <strong>Please fill out empty fields to sign up for a new account</strong>
    <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="password"><br>
        <button type="submit">Sign Up</button>
        </form>