<%if logged_in?%>

     <h2>Welcome, <%= current_user.username %></h2>
      <%@legends.each do |legend| %>
        <h3>Wins:  <%= legend.stats.wins %></h3>
        <h4>Kills: <%= legend.stats.kills %></h4>
      <%end%>
  <%else%>
     <%'/login'%>
  <%end%>
<br>

<p><strong>To Add New Legend Stats
    <a href="/legends/new">Click Here</a></strong></P>
<br>
</br>

  <a href="/logout">Log Out</a>