<%if logged_in?%>

     <h2>Welcome, <%= current_user.username %></h2>
     <p> Click legends name to view current stats:</p>
      <% @legends.each do |legend| %>
            <a href="/stats/<%= legend.id %>"><%= legend.name %></a><br>
        <% end %>
  <%else%>
     <%'/login'%>
  <%end%>
<br>

<p><strong>To A New Legend's Stats
    <a href="/legends/new">Click Here</a></strong></p>
<br>
</br>

  <a href="/logout">Log Out</a>