<h2>Select a Legend</h2>
<form action="/legends" method="POST">
    <% Legend.names.keys.each do |legend| %> 
        <input id="<% legend %>" type="radio" name="name" value="<%= legend %>"><%= legend %><br>
    <% end %>
    <br>
    <input type="submit">
</form>