<h3>Welcome to the Apex Stat Tracker,</h3>
<p>if you already have an account please
<a href="/login">Log In</a><br>
If you are new and want to start tracking your stats please
<a href="/signup">Sign Up</a>

