<DOCTYPE! html>
    <html>
        <head>
            <title>Apex Legends Stat Tracker</title>
        </head>
        <body>
        <h2>Apex Stat Tracker</h2>
        <% yield %>
        </body>
    </html>