  
<h3>Create new Stats for <%= @legend.name %></h3>

<form action="/stats/<%= @legend.id %>" method="POST">
<label>Kills:</label><input type="text" name="kills" id="Kills"><br>
<label>Wins:</label><input type="text" name="wins" id="Wins"><br>
<button type="submit">Submit</button>
</form>