  
<h3>Create new Stats</h3>

<form action="/stats" method="POST">
<label>Wins:</label><input type="text" name="kills" id="Kills"><br>
<label>Kills:</label><input type="text" name="wins" id="Wins"><br>
<button type="submit">Submit</button>
</form>