  
<h1>Create a new Stats <%= @legend.name %></h1>

<form action="/stats" method="POST">
<label>Wins:</label><input type="text" name="stats[kills]" id="Kills"><br>
<label>Kills:</label><input type="text" name="stats[wins]" id="Wins"><br>
<button type="submit">Submit</button>
</form> nmfdgvn